:root{
    --principalColor: #FFA10B;
    --white: #fff;
    --black: #000;
    --blue: #001AFF;
}

*{
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-sizing: border-box;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    flex-wrap: wrap;
}

.divImg, .divForm{
    height: 100vh;
    width: 50vw;

}

.divImg{
    background-image: url(./img/22083-popular-techno-wallpapers-2560x1600-fuer-phones.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--black);

}

.divForm{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.login{
    width: 450px;
    height: 550px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--principalColor);
}

hr{
    
    margin-top: 40px;
}

form,.Camp{
    padding: 5px 0;
    background-color: var(--principalColor);
    display: flex;
    width: 350px;
    height: 300px;
    flex-direction: column;
    justify-content: center;
}

#btns{
    background-color: var(--principalColor);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;

}


h1{
    margin-bottom: 40px;
    font-size: 40pt;
}

label{
    text-indent: 10px;
    font-size: 16pt;
    background-color: var(--principalColor);
}

input[type="button"],[type="submit"],.btns{
    display: grid;
    place-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    border: 1px inset black;
    width: 100px;
    height: 30px;
    font-size: 10pt;
    padding: 2px;
    border-radius: 15px;
    background-color: var(--white);
}

.btns:hover{
    scale: 1.05;
}

input[type="text"],[type="email"],[type="password"]{
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    font-size: 12pt;
}

.LogoHeadphonic{
    margin-bottom: 10px;
    width: 20rem;
    background-color: var(--principalColor);
}

span > a{
    color: var(--blue);
    text-decoration: none;
    background-color: var(--principalColor);
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}


@media (max-width: 1200px) {
        .divImg{
            width: 0;
            height: 0;
        }
        .divForm{
            background-image: url(../icon/headphones_FILL0_wght400_GRAD0_opsz24.png);
            width: 100vw;
        }
}