*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
}

.divNav{
    width: 18vw;
    height: 98vh;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFA10B;
}

.header_pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 79vw;
    margin-left: 1vw;
    height: 10vh;
    flex-shrink: 0;
    border-radius: 15px 15px 0px 0px;
    background: #FFA10B;
}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 55px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
}

.lupa{
    width: 40px;
    height: 40px;
}


.logo{
    width: 18vw;
    height: 10vh;
    margin-top: 2vw;
    background-image: url(../icon/Headphonic\ Music\ Entertainment\ Logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

input[type="search"]{
    font-size: .8rem;
    padding: 0 30px;
    border: none;
    display: flex;
    width: 39vw;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.sep1{
width: 20vw;
}


.sep3{
    display: grid;
    place-items: center;
    width: 20vw;
}

.music{
    border-top: 1px rgba(185, 185, 185, 0.664) groove;
    width: 79vw;
    margin-left: 1vw;
    height: 88vh;
    border-radius: 0px 0px 16px 16px;
    background-color: #FFA10B;

}

.btns{
    display: grid;
    place-items: center;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    border: 1px inset rgb(0, 0, 0);
    background-color: #000;
    width: max(5vw , 60px)  ;
    height: 30px;
    font-size: 10pt;
    padding: 2px;
    border-radius: 15px;
}

.btns:hover{
    scale: 1.05;
}

.menu > img{
    width: 30px;
    height: 30px;
}

.menu:hover > img{
    filter: invert();
}

.menu:hover{
    background-color: #000;
    & h2{
        color: #fff;
    }
}

.menu{
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 99.99%, rgba(255, 161, 11, 0.12) 100%);
    padding: 10px;
    text-indent: 10px;
    display: flex;
    margin: 30px 20px;
    text-decoration: none;
    align-items: center;
}

h2{
    font-size: min(20pt, 2vw );
    color: black;
}
a{
    text-decoration: none;
}

.nav_categorias{
    display: flex;
    justify-content: center;
    width: 79vw;
    height: 5vh;
}
.nav_categorias > ul{
    overflow: auto;
    display: flex;
    list-style: none;
}

.nav_categorias > ul > a{
    color: #000;
    gap: 10px;
    font-size: max(1vw, 15pt);
    width: 200px;
    height: 4vh;
    display: flex;
    flex: 1 0 100px;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    border-radius: 0 0 15px 15px;
}

.nav_categorias > ul::-webkit-scrollbar{
    display: none;
}

.nav_categorias > ul > a:focus{
    color: #ffffff;
    background-color: #000;
}

.nav_categorias > ul > a:hover{
    color: #ffffff;
    background-color: #000;
}

.music_main{
    overflow: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 0;
    width: 79vw;
    height: 80vh;

}

.popular, .novidade, .playlist{
    display: flex;
    justify-content: space-around;
    gap: 1vw;
}

#playlist1{
    background-image: url(../img/caneta_Azul/playlist1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#playlist2{
    background-image: url(../img/caneta_Azul/playlist2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#playlist3{
    background-image: url(../img/caneta_Azul/playlist3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#playlist4{
    background-image: url(../img/caneta_Azul/playlist4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#popular1{
    background-image: url(../img/caneta_Azul/popular1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#popular2{
    background-image: url(../img/caneta_Azul/popular2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#popular3{
    background-image: url(../img/caneta_Azul/popular3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#popular4{
    background-image: url(../img/caneta_Azul/popular4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#novidade1{
    background-image: url(../img/caneta_Azul/novidade1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#novidade2{
    background-image: url(../img/caneta_Azul/novidade2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#novidade3{
    background-image: url(../img/caneta_Azul/novidade3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#novidade4{
    background-image: url(../img/caneta_Azul/novidade4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.capa{
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: #000;
    width: 300px;
    height: 200px;
    border: 2px solid white;
    transition: .3s;
}

.capa:hover{
    scale: 1.05;
    transition: .3s;
}

h3{
    padding-left: 2vw;
    text-transform: uppercase;
    color: #ffffff;
}

.music_list{
    width: 77vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media (max-width: 800px) {

    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        background-image: url(./icon/iconBlack.png);
        background-size: 50px;
    }

    h2{
        
        display: none;
    }
}